/* Regole Generali */

:root {
    --grey: #222222;
    --light-grey: #4A4A4A;
}

* {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

/* Main */

.zoom-main {
    background-color: #000;
    min-height: 100vh;
    flex-direction: column;
}

/* Section Main container */
.main-container {
    flex-grow: 1;
}

/* Nav Main nav */

.main-nav.flex {
    background-color: var(--grey);
    justify-content: space-between;
    overflow: auto;
}

.main-nav span {
    white-space: nowrap;
}

.main-nav i:not(.fa-chevron-up) {
    font-size: 30px;
}

.nav-list,
.end p {
    padding: 15px 20px;
}

.nav-list * {
    padding-right: 15px;
}

.nav-list>* {
    cursor: pointer;
}

li.flex {
    align-items: center;
}

.nav__button.flex {
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.active {
    color: #48C800;
}

.end p {
    color: red;
    align-self: stretch;
    background-color: var(--light-grey);
    height: 100%;
    align-items: center;
}


/* TODO: debug */

.debug .main-nav {
    /* padding: 50px; */
    border: 5px solid seagreen;
}