/* Regole Generali */

:root {
    --grey: #222222;
    --light-grey: #4A4A4A;
}

* {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

/* Main */

.zoom-main {
    background-color: #000;
    height: 100vh;
    flex-direction: column;
}

/* Section Main container */
.main-container {
    flex-grow: 1;
    padding: 60px 80px 30px;
    overflow: auto;
    /* Sotto i 900px invece di rompersi il layout si crea una scroll bar orizzontale */
    min-width: 900px;
}

.grid-7 {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    row-gap: 5px;
    column-gap: 10px;
}

.cam {
    position: relative;
}



.user {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(232, 232, 232, 0.5);
}

/* Nav Main nav */

.main-nav.flex {
    background-color: var(--grey);
    justify-content: space-between;
    overflow: auto;
}

.main-nav span {
    white-space: nowrap;
}

.main-nav i:not(.fa-chevron-up) {
    font-size: 30px;
}

.nav-list,
.end p {
    padding: 15px 20px;
}

.nav-list * {
    padding-right: 15px;
}

.nav-list>* {
    cursor: pointer;
}

li.flex {
    align-items: center;
}

.nav__button.flex {
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.active {
    color: #48C800;
}

.end p {
    color: red;
    align-self: stretch;
    background-color: var(--light-grey);
    height: 100%;
    align-items: center;
}


/* TODO: debug */

.debug .main-container {
    border: 5px solid cornflowerblue;
}

.debug .main-nav {
    border: 5px solid seagreen;
}